* {
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}

/* logo e titolo */

.logo-title {
    padding-left: 20px;
}

.title {
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
    font-weight: 700;
}

/* logo e titolo aggiunti */